# Documentation
# ------------------------------------------------------------------------------
Sphinx                                        # https://github.com/sphinx-doc/sphinx
sphinx_rtd_theme
sphinxcontrib-openapi                         # https://github.com/sphinx-contrib/openapi
sphinxcontrib-images